<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.antelope.fg.mapper.custom.CustomPersonMapper">
	<select id="selectByNameAndPassword" parameterType="team.antelope.fg.pojo.Person" resultType="team.antelope.fg.pojo.Person">
		select * from person 
		where name = #{name} and password = #{password}
	</select>
</mapper>