<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.antelope.fg.mapper.custom.CustomNeedMapper">
	
	<sql id="sp_nearbyneed_infos">
		call sp_nearbyneed_infos(#{needExpand.needtype},#{needExpand.latitude},#{needExpand.longitude})
	</sql>
	
	<select id="queryNearbyInfos" resultType="team.antelope.fg.pojo.expand.NeedExpand"
		 parameterType="team.antelope.fg.pojo.vo.NeedVo">
		<include refid="sp_nearbyneed_infos"/>
	</select>
	
</mapper>