<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.antelope.fg.mapper.custom.CustomSkillMapper">
	
	<sql id="sp_nearbyskill_infos">
		call sp_nearbyskill_infos(#{skillExpand.skilltype},#{skillExpand.latitude},#{skillExpand.longitude})
	</sql>
	
	<select id="queryNearbyInfos" resultType="team.antelope.fg.pojo.expand.SkillExpand"
		 parameterType="team.antelope.fg.pojo.vo.SkillVo">
		<include refid="sp_nearbyskill_infos"/>
	</select>
	
	<sql id="base_list_column">
		b.id, b.uid, title, content, skilltype, publishdate, stopdate, iscomplete, isonline, img,
		addressdesc, longitude, latitude
	</sql>
	
	<sql id="expand_list_column">
		, a.name userName, a.headimg
	</sql>
	
	<!-- 通过需求id 联合查询person和需求的信息 -->
	<sql id="query_skill_person_condition">
		and b.id = #{id}
		and b.uid = a.id
	</sql>
	<select id="querySkillInfoById" parameterType="java.lang.Long" resultType="team.antelope.fg.pojo.expand.SkillExpand">
		select 
		<include refid="base_list_column"/>
		<include refid="expand_list_column"/>
		from
		publishskill b, person a
		<where>
			<include refid="query_skill_person_condition"/>
		</where>
	</select>
	<!-- 通过用户id查询所属的技能 -->
	<sql id="sql_query_skills_by_uid">
		<choose>
			<when test="skillExpand != null and skillExpand.uid != null">
				and a.uid = #{skillExpand.uid}
			</when>
			<otherwise>and a.uid = -1</otherwise>
		</choose>
	</sql>
	<select id="querySkillInfosByPerson" resultType="team.antelope.fg.pojo.expand.SkillExpand"
		 parameterType="team.antelope.fg.pojo.vo.SkillVo">
		 select id, title, stopdate, iscomplete, addressdesc
		 from publishskill a
		 <where>
		 	<include refid="sql_query_skills_by_uid" />
		 </where>
	</select>
</mapper>